<script data-main="js/decks" src="js/require.js"></script>
<div id='decks'>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Expansion</td>
        <td>Makeup</td>
      </tr>
    </thead>

    <tbody>
        <% @decks.each do |deck| %>
          <tr>
            <td><%= deck.name %></td>
            <td><%= deck.expansion %></td>
            <td><%= deck.graph %></td>
          </tr>
        <% end %>
    </tbody>
  </table>

  <div id='vizualizer'>
    <div class='colors-pie'></div>
    <div class='types-pie'></div>
    <div class='costs-pie'></div>
  </div>
</div>
