<title>Panta Rhei</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<div id="sidebar">
  <img src="/img/me.jpg">
  <nav>
    <ul>
      <li><a href="/projects">projects</a></li>
      <li><a href="/contact">contact me</a></li>
      <li>
        blog posts
        <ul class='posts'>
          <li><a href="#first-day">2014-03-14</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>


<div id='content'>
  <%= yield %>
</div>