
<h1>Create Profile</h1>
<form method="POST" action="/projects/magic/profile/create" id="profile">
  <input type="text" name="profileName" placeholder="Enter Name for Profile"></input>
  <button type="submit">Save</button>
</form>
<div id="decks">
  <select>
    <option selected>Loading Card List</option>
  </select>
  <button name="cards">load</button>
</div>