<script type="text/javascript" src="/js/cards.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $.getJSON("http://mtgjson.com/json/SetList.json", function(response){
      $(".sets option:first").remove()
      _.each(response, function(d){
        $(".sets").append("<option code='" + d.code + "'>" + d.name + "</option>")
      })
    })

  })
</script>
<h1><%= params[:name] %></h1>

<div>
  <select class='sets'>
    <option selected>Set List is Loading</option>
  </select>
  <button name='load'>Load Cards</button>
</div>
